* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #1b2632;
    padding: 3px;
    text-align: left;
    font-size: 12px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    height: 1400px;
    /* only for demonstration, should be removed */
    background-color: #394b59;
    padding: 20px;
    color: white;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-position:inside;
    border-bottom: 1px solid white;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 1400px;
    /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}